nav{
    width:50%;
    height:0px;
    margin:50px 50px 50px 80px;
    opacity:2;
    padding:50px;
    font-size:20px; 
}
h1{
    color:black;
    width:50%;
    height:40px;
    margin-left:400px; 
    
}
video{
    margin: 0px 0px 0px 180px;
}

